<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-800 text-white">
    <div class="container mx-auto p-4">
        <div class="flex justify-between items-center mb-4">
            <button onclick="logout()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-4 rounded focus:outline-none focus:shadow-outline mb-4">로그아웃</button>
            <div>
                <h1 class="text-3xl font-bold">로그인한 유저: {{ user_name }} ({{ login_id }})</h1>
            </div>
            <div>
                <input type="text" id="friendLoginId" placeholder="친구의 로그인 ID" class="p-2 rounded border-2 border-gray-200 focus:border-blue-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:text-white"/>
                <button onclick="addFriend()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">친구 추가</button>
            </div>
        </div>
        <ul>
            {% if friend_info %}
                {% for friend in friend_info %}
                <li class="mb-2 p-2 bg-gray-700 rounded hover:bg-gray-600 cursor-pointer" onclick="openChat('{{ friend.login_id }}')">
                    {{ friend.user_name }} ({{ friend.login_id }})
                </li>
                {% endfor %}
            {% endif %}
        </ul>
        <ul id="friendList" class="list-disc pl-5">
            <!-- 여기에 친구 목록이 동적으로 추가됩니다. -->
        </ul>
    </div>
    <script>
        async function logout() {
            const response = await fetch('/api/v1/auth/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                credentials: 'include',
            });
            if (response.ok) {
                window.location.href = '/api/v1/auth/login';
            } else {
                // 로그아웃 실패 처리
                alert('로그아웃에 실패했습니다.');
            }
        }
        async function addFriend() {
            const friendLoginId = document.getElementById('friendLoginId').value;
            const response = await fetch('/api/v1/user/friendship', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    login_id: friendLoginId,
                }),
            });
            if (response.status === 200) {
                alert('친구 추가 성공');
                location.reload();
            } else {
                alert('친구 추가 실패');
            }
        }

        async function openChat(reciveClientId) {
            window.location.href = `http://192.168.164.1:5959/api/v1/chat/?recive_client_id=${reciveClientId}`;
        }
    </script>
</body>
</html>
